<p id="notice"><%= notice %></p>

<p>
  <strong>Target age range:</strong>
  <%= @target_age_range.target_age_range %>
</p>

<%= link_to 'Edit', edit_admin_target_age_range_path(@target_age_range) %> |
<%= link_to 'Back', admin_target_age_ranges_path %>
